<!-- APP COMPONENT -->
<div class="container">
    <div id="challenge-header">
        <h1>
            {{title}}
        </h1>
        <p>by {{author}}</p>
    </div>

    <!-- CHALLENGE COMPONENT -->
    <div id="challenge-body" class="container">
        <app-challenge></app-challenge>
    </div>
    <!-- /CHALLENGE COMPONENT -->

</div>
<!-- /APP COMPONENT -->
