<div class="row">
    <p style="text-align:center">
        <span style="font-weight: bold;">String to parse:</span> {{stringToParse}}
    </p>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-3 col-sm-6">
        <h2>Problem</h2>
        <p style="padding-left:15px;">
            <span style="display: block; text-align: left" *ngFor="let key of arrayLiteral">{{key}}</span>
        </p>
    </div>
    <div class="col-md-5 col-md-offset-1 col-sm-6">
        <h2>Bonus</h2>
        <p style="padding-left:15px;">
            <span style="display: block;" *ngFor="let key of arrayAlpha">{{key}}</span>
        </p>
    </div>
</div>
