/* You can add global styles to this file, and also import other style files */


#challenge-header{
    background-color:#7e4082;
    text-align: center;
    margin:0;
    padding:10px 0;

}

#challenge-header p,h1{color:#fff;}
h2,h3,h4,h5,h6{
    color: #7e4082;

    font-size: 36px;
    font-weight: 300;

}
